<div class="mt-4">
    <h3>Cập nhật đồng hồ</h3>
    <form class="mt-4" method="POST" action="/admin/prod/{{watch._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên đồng hồ</label>
            <input type="text" class="form-control" value="{{watch.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả đồng hồ</label>
            <textarea class="form-control" id="description" name="description">{{watch.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="image">Ảnh đồng hồ</label>
            <input type="text" class="form-control" value="{{watch.image}}" id="image" name="image">
        </div>
        <div class="form-group">
            <label for="price">Giá đồng hồ</label>
            <input type="text" class="form-control" value="{{watch.price}}" id="price" name="price">
        </div>
        <div class="form-group">
            <label for="discount">Phần trăm giảm</label>
            <input type="number" class="form-control" value="{{watch.discount}}" id="discount" name="discount" placeholder="Nhập phần trăm giảm (0-100)" pattern="^(100|[1-9]?[0-9])$">
        </div>
        <div class="form-group">
            <label for="stock_quantity">Số lượng trong kho</label>
            <input type="text" class="form-control" value="{{watch.stock_quantity}}" id="stock_quantity" name="stock_quantity">
        </div>
        <div class="form-group">
            <label for="manufacturer">Nguồn gốc</label>
            <input type="text" class="form-control" value="{{watch.manufacturer}}" id="manufacturer" name="manufacturer">
        </div>
        
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>

    <label for="categories_slug" class="mt-4">Phân loại [
        {{#each watch.categories_slug}}
            {{!-- nếu chưa phải cuối cùng thì thêm dấu phẩy --}}
            {{this}}{{#unless @last}}, {{/unless}}
        {{/each}}
    ]</label>

    <form method="POST" action="/admin/prod/{{watch._id}}/add-category?_method=PUT">
        <div class="input-group">
            <select class="custom-select" id="categories_slug" name="categories_slug">
                {{!-- <option selected>{{watch.categories_slug.[0]}}</option> --}}
                {{#each categories}}
                <option value="{{this.slug}}">{{this.name}}</option>
                {{/each}}
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Thêm</button>
            </div>
        </div>
    </form>

    <form method="POST" action="/admin/prod/{{watch._id}}/remove-category?_method=PUT">
        <div class="input-group mt-2">
            <select class="custom-select" id="categories_slug" name="categories_slug">
                {{#each watch.categories_slug}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Xóa</button>
            </div>
        </div>
    </form>
</div>